<%- include('../includes/head.ejs') %>
<% if (title) { %>
<title> <%= title %> </title>
<% } else { %>
<title> title not found </title>
<% } %>
<!-- Above is navbar stuff -->

<section class="section">
    <div class="container is-max-desktop">
        <h1> Home page </h1>
        <a href="/posts"> Go to posts </a>
        <a href="/signIn"> Sign In </a>
        <br><br>
        <a href="/login"> Log In </a>
    </div>
</section>




<!-- Under is footer stuff -->
<%- include('../includes/footer.ejs') %>